@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0e2a;
    --foreground: #f0f0f0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
